* {
  margin: 0px;
}

.bg-con {
  background-color: #1e293b;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 48px;
  font-weight: 800;
  padding: 10px;
}
.desc {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 32px;
  font-weight: 800;
  padding: 10px;
}

button {
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  color: #1e293b;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  max-width: 200px;
  font-weight: 400;
}
